[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
matplotlib = "*"
jupyter-dash = "*"
dash-bootstrap-components = "*"
SQLAlchemy = "*"
configparser = "*"
mysqlclient = "*"
Flask-Login = "*"
Flask-MySQL = "*"
Flask-SQLAlchemy = "*"
flask-sqlalchemy = "*"
psycopg = "*"

[dev-packages]

[requires]
python_version = "3.8"
