:root {
  --header_height: 10vh;
  --footer_height: 5vh;
  --sidebar_width: 5vw;
  --adbar_width: 5vw;
  --content_width: 90vw;
  --content_height: 85vh;
}


.center {
  text-align: center;
  color: red;
}

.PAGE_NOPADDING {
    padding: 0 !important;
    padding-left: 0;
    padding-right:0;
    margin-left:0;
    margin-right: 0;
    border:1px black;
    border-style: solid;
}

.PAGE_HEADER {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header_height);
    background-color: Gray;
    }

.PAGE_HEADER_0 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2vh;
    background-color: Gray;
    }


.PAGE_HEADER_1 {
    position: fixed;
    top: 3vh;
    left: 0;
    right: 0;
    height: 2vh;
    background-color: Gray;
    }

.PAGE_HEADER_2 {
    position: fixed;
    top: 5vh;
    left: 0;
    right: 0;
    height: 2vh;
    background-color: Gray;
    }

.HEADER_TEXT {
    color: #a569bd;
    background-color: Black;
    }

.HEADER_COLUMN {
    height: 100%,
    background-color: black,
    padding:0px,
    margin:0px,
    textAlign: center
}

.PAGE_SIDE_RIGHT {
    position: fixed;
    top: var(--header_height);
    right: 0;
    bottom: var(--footer_height);
    width: var(--sidebar_width);
    background-color: lightgreen;
    }

.PAGE_SIDE_LEFT {
    position: fixed;
    top: var(--header_height);
    left: 0;
    bottom: var(--footer_height);
    width: var(--sidebar_width);
    background-color: lightgreen;
    }

.PAGE_ADBAR {
    position: fixed;
    top: var(--header_height);
    right: 0;
    bottom: var(--footer_height);
    width: var(--adbar_width);
    background-color: lightgreen;
    }

.PAGE_FOOTER {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--footer_height);
    background-color: gray;
    }

.PAGE_CONTENT {
    position: fixed;
    top: var(--header_height);
    height: var(--content_height);
    width : var(--content_width);
    left: var(--sidebar_width);
    background-color: LightGray;
    }


.PAGE_PARENT_CONTAINER {
    height:100vh;
    width: 100vw;
    background-color:pink;
}

.parent {
  background: gray;
  height: 300px;
  width: 300px;
  position: relative;
}

.CENTRE_FORM_CONTAINER {
    height: 600px;
    width: 700px;
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CENTRE_FORM {
  background: orange;
  width: 60vw;
  height: 60vh;
  position: fixed;
  top: 20vh;
  left: 20vw;
  margin: 0 0 0 0;
  border:4px solid black;
}

.FORM_SUBMIT_BUTN {
    position: fixed;
    top: 60vh;
    left: 56vw;
    height: 4vh;
    width: 4vw;
    background-color: red;
    }

.FORM_CANCEL_BUTN {
    position: fixed;
    top: 60vh;
    left: 61vw;
    height: 4vh;
    width: 4vw;
    background-color: red;
    }

.FORM_SAVE_BUTN {
    position: fixed;
    top: 60vh;
    left: 61vw;
    height: 4vh;
    width: 4vw;
    background-color: red;
    }

.FORM_TITLE {
  text-align: center;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.FORM_TEXT {
  text-align: right;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.FORM_LABEL{
  text-align: right;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
}

.FORM_COLUMN_LABEL{
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-align:right;
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
  width: 100%;
}


.FORM_LABEL_COLUMN {
    padding:0 !important;
    margin: 0 !important;
    border-style: solid;
    width: 1;
}


.FORM_COLUMN_RANGEINPUT {
  font:bold;
  font-size: 14px;
  width:140px;
}

.FORM_RANGEINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_TEXTINPUT {
  font:bold;
  font-size: 14px;
  height: 100%;
  width:100%;
}

.FORM_TEXTINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_NUMBERINPUT {
  font:bold;
  font-size: 14px;
  height: 100%;
  width:100%;
}

.FORM_NUMBERINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_DROPDOWNINPUT {
  font:bold;
  font-size: 14px;
  height: 100%;
  width:100%;
}

.FORM_DROPDOWNINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}



.FORM_TEXTINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_TEXTAREAINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_TEXTAREAINPUT{
  font:bold;
  font-size: 14px;
  height: 100%;
  width:100%;
}


.FORM_CHECKBOXINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_CHECKBOXINPUT{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_RADIOINPUT_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_RADIOINPUT{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}


.FORM_COLUMN_UPLOAD {
    width: 100%;
    height: 60px;
    Height: 60px;
    border: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
}

.FORM_UPLOAD_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}


.FORM_SINGLEDATE_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_SINGLEDATE{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_YEARDROPDOWN_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_EXPERIMENTDROPDOWN{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_EXPERIMENTDROPDOWN_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_RESCALEX {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_RESCALEX_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}


.FORM_COLUMN_RESCALEY {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_LIMITTYPE_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_LIMITTYPE {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_RESULTTYPE_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_RESULTTYPE {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_SPIN_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_SPIN {
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}



.FORM_RESCALEY_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}


.FORM_COLUMN_YEARDROPDOWN{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_COLOR_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_COLUMN_COLOR{
  font:bold;
  font-size: 20px;
  height: 100%;
  width:100%;
}

.FORM_COLUMN_EXAMPLE {
  font:bold;
  font-size: 12px;
  border-style: none;
  height: 100%;
  width:100%;
  text-decoration: underline;
}

.FORM_EXAMPLE_COLUMN {
  padding:0 !important;
  margin: 0 !important;
  border-style: solid;
}

.FORM_SELECTFILE{
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.FORM_DATA{
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.FORM_PROMPT{
  text-align: left;
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
}

.FORM_BOX {
    height:30px,
    background-color:green,
    border:2px solid black,
    color: purple
}


.FORM_COLUMN {
    background-color: red;
    padding:0px;
    margin:0px;
    border:1px solid black;
}

.COLUMN_DIV {
    height:100%,
    background-color:orange,
    border:2px solid black,
    color: purple}

.ALL_ROW {
    width:100%,
    height:100%
    }

.TOP_CHART_ROW {
    width:100%;
    height:70%;
    }

.BOTTOM_CHART_ROW {
    width:100%,
    height:30%
    }

.BOTTOM_TABLE_ROW {
    width:100%;
    height:30%;
}

.NOPADDING_CONTENT {
    padding: 0 !important,
    padding-left: 0,
    padding-right:0,
    margin-left:0,
    margin-right: 0,
    border:1px solid black
    }

.GRAPH {
    display: block,
    height: 100%,
    width: 100%,
    }

.TABLE_ROW {
    width:100%;
    height:50%;
}

.DateInput, .DateInput_1 {
    border-radius: 4px 0 0 4px !important;
}

.DateInput_input, .DateInput_input_1 {
    Height: 34px !important;
    Width: 100% !important;
    border-radius: inherit;
}

.SingleDatePickerInput__withBorder {
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc !important;
}
